Module-1-docker-terraform/2_docker_sql/ny_taxi_postgres_data/
Module-2-orchestration-airflow/airflow/logs/
Module-5-batch-processing/code/fhvhv_tripdata_2021-01.parquet
Module-5-batch-processing/code/data/
Module-5-batch-processing/code/fhvhv/
